<section class="business-section">

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="page-card">
                <img src="assets/Home/Get Paid Instantly.png" alt="Get Paid Instantly">
                <p class="mb-1">
                  <small class="fw-600">Quick cash disbursement</small>
                </p>
                <small class="d-block text-50">Get terms loans that your business needs within 72 hrs</small>
              </div>
              <div class="page-card">
                <img src="assets/Home/Low interest rate.png" alt="Get Paid Instantly">
                <p class="mb-1">
                  <small class="fw-600">Low-interest rate</small>
                </p>
                <small class="d-block text-50">Achieve your financial goals with an amazing interest rate starting at 13% per annum</small>
              </div>
              <div class="page-card">
                <img src="assets/Home/Secure Payments.png" alt="Get Paid Instantly">
                <p class="mb-1">
                  <small class="fw-600">Zero Paperwork</small>
                </p>
                <small class="d-block text-50">Get started instantly by submitting only your basic details & bank statements</small>
              </div>
            </div>
            <div class="col-6">
              <div class="page-card">
                <img src="assets/Home/freelancer_feature_icon_6@1.5x.png" alt="Get Paid Instantly">
                <p class="mb-1">
                  <small class="fw-600">Ace your business finances</small>
                </p>
                <small class="d-block text-50">Manage banking, accounting & everything in between, on one platform</small>
              </div>
              <div class="page-card">
                <img src="assets/Home/Covid.png" alt="Get Paid Instantly">
                <p class="mb-1">
                  <small class="fw-600">Loans to fight COVID-19</small>
                </p>
                <small class="d-block text-50">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</small>
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center pl-5">
  
          <h3>Boost your business <br> with Open</h3>
  
          <p class="my-5 text-50">Get your hands on a term loan that’s crafted <br> for your business</p>
  
          <button>Get an Open Account</button>
  
        </div>
      </div>
    </div>
  
  </section>